# Google Form Visit Logger Config
# Instructions on how to get these values are in implementation_plan.md
VITE_GOOGLE_FORM_ID=
VITE_GOOGLE_FORM_ENTRY_PATH=
VITE_GOOGLE_FORM_ENTRY_REFERRER=
VITE_GOOGLE_FORM_ENTRY_USER_AGENT=
VITE_GOOGLE_FORM_ENTRY_LOCATION=
VITE_GOOGLE_FORM_ENTRY_TIMEZONE=
VITE_GOOGLE_FORM_ENTRY_CUSTOM_REF=
